<!DOCTYPE html>

<html>
    <head>
        <title>What is the best programming language?</title>
        <meta charset = "UTF-8" />
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Raleway:700,300|Lato:300,700" rel="stylesheet">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="https://afeld.github.io/emoji-css/emoji/crystal_ball.png">


    </head>

    <body>

      <h1>What is the best programming language to learn right now?<br>
      </h1>
      <h2 class="emoji_text">Language activity <span style="color:#db6f00;font-weight:700;">X</span>   Community size = <i class="em em-fire" style="height: 3rem;width: 3rem;"></i></h2>

      <div class="container" id="container">

        <span style="opacity:0.4;font-size:14px;font-weight:700">Getting fresh and shinny informaion...</br>
        Worth the wait...</span></br>

      </div>


      <script src="https://code.jquery.com/jquery-3.0.0.min.js" type="text/JavaScript"></script>
      <script src="d3/d3.js" type="text/JavaScript">></script>
      <script src="script.js" type="text/JavaScript"></script>


      <footer>
        <a href="/circles"><img class="circles" src="/images/circles.svg"></a>
        <div class="api_footer_text">Data is meant to be recycled - <a href="/api"><div class="api_button">Use the API</div></a></div>
        <span class="footer_text">Built and designed by <a class="footer" href="http://www.linkedin.com/in/drorayalon" target= _blank>Dror Ayalon</a> <a href="http://itp.nyu.edu" target= _blank><i class="em em-purple_heart"></i></a>, August 2016.</span>
      </footer>


      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-68418424-3', 'auto');
          ga('send', 'pageview');
     </script>

    </body>

</html>
