<!DOCTYPE html>

<html>
    <head>
        <title>What is the best programming language?</title>
        <meta charset = "UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:700,300|Lato:300,700" rel="stylesheet">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="https://afeld.github.io/emoji-css/emoji/crystal_ball.png">


    </head>

    <body>
      <a href="https://github.com/dodiku" target=_blank><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>

      <h1>Learn <%=language%>!</h1>

      <script>
        var language = '<%=language%>';
      </script>

      <div class="container" id="container">
        <div class="books">
          <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_search_bar = "false";
          amzn_assoc_tracking_id = "bestlanguag0a-20";
          amzn_assoc_search_bar_position = "top";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_title = "Books from Amazon.com:";
          amzn_assoc_default_search_phrase = language + " programming";
          amzn_assoc_default_category = "All";
          amzn_assoc_linkid = "3580d4690a8e1fb82f5569a299dce4ab";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
      </div>


      <script src="https://code.jquery.com/jquery-3.0.0.min.js" type="text/JavaScript"></script>
      <script src="d3/d3.js" type="text/JavaScript">></script>
      <script src="lang.js" type="text/JavaScript"></script>


      <footer>
        <span class="footer_text">Built and designed by <a class="footer" href="http://www.linkedin.com/in/drorayalon" target= _blank>Dror Ayalon</a> <a href="http://itp.nyu.edu" target= _blank><i class="em em-purple_heart"></i></a>, August 2016.</span>
      </footer>

    </body>

</html>
